<!-- inside app/views/welcome/index.html.erb -->  
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Nhóm 10: Ruby on Rails Blog</h1>
        <p class="lead text-muted">Blog này được tạo ra để chia sẻ những kiến thức về công nghệ thông tin đến mọi người. Vận dụng những kiến thức đã tìm hiểu về Ruby và Ruby on Rails nhóm 10 đã xây dựng Blog trên nền tảng Rails.<br>Nếu có bất kỳ thắc mắc hay góp ý nào hãy liên hệ với chúng tôi<p>
          <a href="mailto:codyhoang.it@gmail.com" class="btn btn-primary my-2">Liên hệ với chúng tôi</a>
          <a href="https://github.com/Cody-Hoang/myblog" class="btn btn-secondary my-2">Github</a>
        </p>
      </div>
    </div>
  </section>
</main>